<%- include('partials/head.ejs') %>
<body>
    <p>Greetings, welcome to my first Node Express mini app.</p>
    <p>In this page, we are going to be able to move between links, first of all.</p>
    <p>Look at the links below, and decide yourself where you wish to go</p>
</body>
</html>