<%- include('partials/head.ejs') %>
<body>
    <div class="space">
        <div class="welcomeText">
            <p>Welcome to Space</p>
            <div class="linkContainer">
                <%- include('partials/links.ejs') %>
            </div>
        </div>
    </div>
</body>