<%- include('partials/head.ejs') %>
<body>
    <div class="space">
        <div class="headerDiv">
            <div class="logo">Spify</div>
            <div class="links">
                <%- include('partials/links.ejs') %>
            </div>
        </div>
        <div class="welcomeDiv">
            <p class="welcomeText">Welcome to Space</p>
        </div>
    </div>
</body>