@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}

html, body {
    height: 100%;
    width: 100%;
}

.space {
    color: white;
    height: 100%;
    width: 100%;
    background-image: url(../images/astronaut-space.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.link {
    display: inline-block;
    border-radius: 8px;
    margin: 0.5rem;
    padding: 0.5rem;
}

p {
    padding: 10px;
}

.welcomeDiv {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.welcomeText {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    font-size: 3rem;
    text-shadow: 3px 2px 2px black;
    border-radius: 8px;
}

.logo {
    font-weight: bold;
    margin-left: 0.75rem;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
}

.space {
    display: flex;
    flex-direction: column;
}

.headerDiv {
    display: flex;
    justify-content: space-between;
}

.links {
    margin: 0.25rem;
}